.card {
  border-bottom: 0px solid rgba(0,0,0,0.07);
  margin-top: 20px;
}
.card-bg {
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
}

.card-contents {
/*  border-left: 1px solid rgba(2,0,0,0.07);
  border-right: 1px solid rgba(2,0,0,0.07);
  border-bottom: 1px solid rgba(2,0,0,0.07);*/
  box-shadow: .5px .5px 5px .5px #dadada;
  }

.card-tag {
  padding-top: 10px;
}

.card-author {
  font-size: 11px;
}

.padding-left {
  padding-left: 20px;
}


.card-title {
  font-size: 24px;
  font-weight: 600;
}

.card-footer {

}

.small-text {
  font-size: 11px;
  color: #797979;
}

.card-author {
}

.card-icon {
  font-size: 13px;
  display: inline-flex;
  padding-top: 6px;
  padding-right: 5px;
}

.icon:hover {
  color: rgba(238, 44, 62, 0.9);
}
